@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hotel Corporate System</h1>
    <p class="lead">This is a home page for Hotel Corporate System.</p>
    <p class="lead">Fill free to browse Corporate Database.</p>
    <p><a href="https://en.wikipedia.org/wiki/Hotel" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clients</h2>
        <p>Corporate Database contails the list of Clients you can explore.</p>
        @Html.ActionLink("Explore »", "Index", "Clients", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>Hotel provides additional (paid) services for clients.</p>
        @Html.ActionLink("Explore »", "Index", "Services", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Client Services</h2>
        <p>History and bills for Client Services could be seen here.</p>
        @Html.ActionLink("Explore »", "Index", "ClientServices", new { area = "" }, new { @class = "btn btn-default" })
    </div>
</div>